body,html {
    margin:0;
    padding: 0;
    background-color: #12181B;

}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time_display{

    font-family: 'Montserrat', sans-serif;
    font-size: 15vw;
    background-image: linear-gradient(180deg, rgba(99,253,136,1) 0%, 
    rgba(51,197,142,1),50%,
    rgba(39,97,116,1) 100%);
    background-clip: text;
   
}
#togglee {
    font-weight: bold;
    border-radius: 15px;
    border: none;
    color: rgb(9, 8, 8);
    padding: 4px 8px;
    margin: 20px 2px;
    cursor: pointer;
}
